.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.input {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

input[type=url] {
    width: 30%;
    -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

input[type=url] {
    width: 400px;
    height: 30px;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #4EA5D9;
    outline: none;
    color: #4EA5D9;
    text-align: center;
}

input[type=url]:focus {
    width: 80%;
}

.clear-button {
    position: absolute;
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
    top: 10px;
}